

body {
    background-color: rgb(205, 255, 232);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',;
    background-color: #017ab7;
    color: whitesmoke;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

